**.ipynb
__pycache__
venv
test.py
test copy.py
test
dev.sota
dev(4).sota
result.json
test2.html
sota2.sota
src/c.json
src/c.html
src/test/*
src/errors.txt
*.egg
*.egg-info
*.tar.gz
*.whl
src/schema.json
src/pipelines/CUSTOM_TYPES/SOTA/merge.py
src/prompt.md
src/res.json
src/Y.txt
src/X.txt
src/mistral.py
src/v2.html
src/v12.sota
src/x.html
src/somedoc.html
src/document-styles.css
src/somedoc.md
src/test2.py
